* {
  margin: 0;
}

:root,
dialog {
  --skog: #133600;
  --lime: #e0ffb2;
  --gran: #347103;
  color-scheme: light dark;
  background-color: var(--lime);
  color: var(--skog);
}

button {
  color: var(--skog);
  background-color: var(--lime);
  border-color: var(--skog);
  &:disabled {
    color: revert;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--gran);
    color: var(--lime);
  }
  main,
  dialog {
    background-color: var(--skog);
    color: var(--lime);
  }
  button {
    color: var(--lime);
    border-color: var(--lime);
    background-color: var(--skog);
  }
}

#app {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#app header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 0;
  background-color: var(--lime);

  @media (width > 550px) {
    grid-template-columns: unset;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  @media (width > 800px) {
    padding-inline: 1em;
  }

  > * {
    margin: 0.25em;
    padding: 0.1em 0.3em;
    border: 1px solid var(--lime);
    border-radius: 0.25rem;
    background-color: var(--skog);
    color: var(--lime);
  }
}

#app footer {
  background-color: var(--skog);
  color: var(--lime);
  border: 1px solid var(--lime);

  img {
    max-height: 7vh;
  }
}

main {
  overflow-y: auto;

  .mapView {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    @media (width > 600px) {
      grid-template-rows: unset;
      grid-template-columns: 1fr 1fr;
    }

    .map {
      background-color: lightblue;
    }
    .detail {
      overflow-y: auto;
    }
  }
}
